
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="jumbotron">
    <h2 style="text-align:center">
        Congratulations!!
    </h2>
<br />
   
    <h4 style="text-align:center">
        You Have Successfully Registered.
        Please Check Your Email Box for your Registration Number and Password.
    </h4>



</div>

